In [3]:
from LibraryManagement import *

--------------------------------------------------------------------------------------------
1.Add a Student to Library
2.Add a Faculty to Library
3.Add a Book to Library
4.Issue Book to Student
5.Issue Book to Faculty
6.Return Book by Student
7.Return Book by Faculty
8.Print Student Records
9.Print Faculty Records
10.Print Book Records
#. Exit
---------------------------------------------------------------------------------------------
#

SystemExit:

In [1]:
from Functions import *
#addBook()
#addFaculty()
#addStudent()
#issue_book_to_faculty()
#issue_book_to_student()
#printStudentDetails()
#printFacultyDetails()
#printBookDetails()
#returnBookFaculty()
#returnBookStudent()

Enter the enrollment no: 0187CS8908
Enter the ISBN: 1234567890123
Invalid Details. Try Again!!!

In [2]:
import pickle
with open("Book_dt.pkl","rb") as f:
    l=pickle.load(f)
for i,j in l.items():
    print(i,j.title,j.author,j.no_of_copies)

1234567890123 Secret Robert Browne 15
2345678901234 Asd qwe 6
6789012345689 xcv hjk 3
5678901234567 ghgfj iuuopop 5

In [1]:
import pickle
l=[]
with open("Faculty_dt.pkl","wb") as f:
    pickle.dump(l,f)

In [3]:
d={1:'a',2:'b'}

5

In [2]:
import pickle
l=[]
with open("Student_dt.pkl","rb") as f:
    l=pickle.load(f)
for i in l:
    print(i.name,i.st_roll,i.no_of_books,i.book_list)

Nupur kshatri 0187CS1234 4 [1234567890123, 2345678901234, 5678901234567]
Preeti Singh 0187CS3456 2 [2345678901234, 5678901234567]
Mansi 0187CS8908 1 [2345678901234]
Atiya 0187CS5678 0 []

In [9]:
def f():
    we=[1,2,3,4]
    return we[2]
x=f()
x=4
print(we)

NameError: name 'we' is not defined

In [22]:
import pickle
with open("Faculty_dt.pkl","rb") as f:
    l=pickle.load(f)
for i in l:
    print(i.ename,i.eid,i.book_list.items())

Nupur Kshatri 23456 dict_items([(1234567890123, 6), (6789012345689, 0)])
Ashish mishra 78902 dict_items([(6789012345689, 2)])

In [3]:
clear